[Unit]
Description=IMA test suite
After=auditd.service

[Service]
Type=forking
WorkingDirectory=/usr/share/imatest
ExecStart=/bin/imatest --testcases /usr/share/imatest/host-testcases --logfile /var/log/imatest.log

[Install]
WantedBy=multi-user.target
